name: Main

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.6', '3.7', '3.8', 'pypy-3.6']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Prepare Linux
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update -y
          sudo apt-get install shellcheck python3 python3-setuptools bc -y
      - name: Test on Linux
        if: contains(matrix.os, 'ubuntu')
        run: |
          cd test
          ./test.sh --verbose
      - name: Shellcheck on Linux
        if: contains(matrix.os, 'ubuntu')
        run: |
          echo "todo"; # shellcheck start_tem.sh
